[2016-09-25 16:59] LatexXx opened #1 "crashes by testing with "SafetyNet Helper" app"
First I want to thank you for your amazing work.
I just saw the DroidGuard Helper coming up and wanted to give it a try.

Samsung Galaxy S2 (gt-i9100)
cm13.0 nightly20160924
with Xposed

I got the "SafetyNet Helper" app from the PlayStore and started the test, but DroidGuard helper crashed and the test failed.

I saved the log via Catlog, maybe it is helpfull for you.
[2016-09-25-18-45-43.txt](htt

[2016-09-30 16:28] seanrand commented on #1
You're probably using either DroidGuard Helper 0.1.0-1 or 0.1.0-2 that have an Xposed module integrated. Those were test versions that never really worked, you should either downgrade to 0.1.0 or upgrade to 0.1.0-3.

[2016-10-07 09:03] ale5000-git commented on #1
@LatexXx
The version 0.1.0-3 is here: https://microg.org/fdroid/repo/org.microg.gms.droidguard-7.apk

[2016-10-15 00:13] jensMF opened #4 "SafetyNet seems not to work."
Since today SafetyNet has stopped working for me. I used superSu and xposed but now I wiped the whole phone (system, data, cach, dalvik) installed clean omnirom 6.0.1 and microG: Services Core, Services Framework, DroidGuardHelper an BlankStore. In SafetyNet Helper I now get:
Response signature validation: error

Error Msg:
Response signature validation error: https://www.googleapis.com/androidche

[2016-10-15 05:48] julianwi commented on #4
This also happens on my device sometimes. But that is not problematic, because it does only affect SaftynetHelper app. You can still use normal apps like pokemon, while having this error.

[2016-10-15 09:21] ArchangeGabriel commented on #4
Yes indeed, it’s only SafetyNet Helper that has this issue, I think there is some sort of rate limiting Google added to SafetyNet calls recently (because of all those PoGo root users and such trying tons of setups to get it working).

[2016-10-15 10:10] jensMF commented on #4
Ok, thanks for your answers. Yesterday other SafetyNet-Apss I use (PoGo and Banking etc.) did not work either, but today everything is working again...

[2016-10-15 10:10] #4 closed

[2016-10-28 14:15] ale5000-git opened #5 "Hide unlocked bootloader"
Is it possible to do the same as done in [this change](https://github.com/sultanxda/android_kernel_oneplus_msm8996/commit/abc05b16bbd33521c2fffaf491c5657a94bfcfc5) but without change the ROM?

[2016-11-09 17:55] ale5000-git opened #6 "Automated builds"
Please set automatic builds of RemoteDroidGuard on every commit.

[2016-12-01 00:35] ale5000-git commented on #1
Have you tried the latest version?

[2016-12-03 00:30] ale5000-git opened #7 "DroidGuard Helper do not work"
I get `Response validation: fail`.
Logcat: [DroidGuard-log.txt](https://github.com/microg/android_packages_apps_RemoteDroidGuard/files/628582/DroidGuard-log.txt)

ROM: CyanogenMod based on Android 7.1 with november security patches.
su binary removed.

[2017-01-07 01:17] ale5000-git opened #8 "Min sdk mismatch"
[Here](https://github.com/microg/android_packages_apps_RemoteDroidGuard/blob/master/remote-droid-guard/src/main/AndroidManifest.xml) is 9.

Instead [here](https://github.com/microg/android_packages_apps_RemoteDroidGuard/blob/master/build.gradle) is 10.

[2017-01-24 13:53] be-neth commented on #7
Hi,

I am facing the same issue with Android 7.1 from a custom build.
It seems related to SELinux policy.

From your log:
[code]

Try setting Selinux to permissive with:
(Enabled ADB root in Developper settings)
[code]

I will try to investigate on that...

[2017-01-24 14:02] ale5000-git commented on #7
@be-neth: I'm almost sure that the Google binary check SELinux status and fail if it isn't enforcing.

[2017-01-24 14:06] be-neth commented on #7
You are right but this is the only way to get:
Response validation: success.

But as you guess:
[code]

That why I think we need to write selinux rules.

[2017-01-24 14:44] ale5000-git commented on #7
@mar-v-in: Do you have some ideas?

[2017-01-24 15:08] mar-v-in commented on #7
I can reproduce this on my device, will check the selinux rule if I find a reason or a work-around, maybe an additional permission can solve this.

[2017-01-24 15:41] mar-v-in commented on #7
Do you have DroidGuard Helper on /system? If not, try if once it's in /system/priv-app it still shows this audit logs.

[2017-01-26 11:50] be-neth commented on #7
No, I install DroidGuard from Fdroid on /data partition.

@mar-v-in: I did not suceed to build properly RemodeDroidGuard apk from the gradle script (gradlew Assemble).
I do not understand all the build process, but it seems that **aar** library from remote-droid-guard-lib is not embeded into the final apk.

I build my own ROM with micro-g built-in and I need an Android.mk file for RemoteDroidGuard

[2017-01-26 12:32] mar-v-in commented on #7
You should be able to just use the [Android.mk from GmsCore](https://github.com/microg/android_packages_apps_GmsCore/blob/master/Android.mk) and update names and paths.

The build process should work fine, remember that you need Java 8 for compilation. If you receive any errors during the build process, please post them so I can check what might be the problem.

[2017-01-26 14:05] be-neth commented on #7
Ok so maybe the Android.mk that i have made is fine.

But I have the following error when trying a safetynet request: (microG DroidGuard exit with error)

[code]

ho, it seems another issue whith SELinux. Why a system app have permission denied to access /data/data/org.microg.gms.droidguard/app_dg_cache/2d364a8debc6bb15f8d5d4aa969c3122f84d224d/lib/libd770FCE0684F7.so" ?

Also, I have mentionned in

[2017-01-26 14:18] mar-v-in commented on #7
The problem now is that the app is in the `platform_app` context, that does not have execute permission on `/data` files. The `priv_app` context grants this permission. `platform_app` is used for apps that are signed with the platform key, `priv_app` is for other apps that reside in `/system/priv-app`.

I think it might be possible to use the `LOCAL_CERTIFICATE` option inside `Android.mk` to solve

[2017-01-26 15:59] be-neth commented on #7
As you can see in my pull request I have set:
`LOCAL_CERTIFICATE := platform`
So that why I have `scontext=u:r:platform_app:s0:c512,c768` ?

But I have set also:
`LOCAL_PRIVILEGED_MODULE := true`

Which result my app to be stored in /system/priv-app. But I do not have the priv_app context.

[2017-01-26 17:34] be-neth commented on #7
Ok, I did not understand your answer regarding the exclusivity between platform certificate and priv-apps.

For Reference: http://stackoverflow.com/questions/39387078/android-n-priv-app-application

I have sign DroidGuard with "shared" key, install it to priv-app and it seems to work !

I will confirm with a fresh install.

[2017-01-26 17:36] mar-v-in commented on #7
seems to work as in, safetynet succeeded?

[2017-01-26 17:37] be-neth commented on #7
No, Safetynet does not succeed but the request works:

[code]

[2017-01-26 18:35] be-neth commented on #7
Succeed !

I forget to remount the system partition read-only on my first attempt :)

Json:
[code]

Screenshot:

![screenshot_20170126-193219](https://cloud.githubusercontent.com/assets/309880/22344993/a3dfe8f0-e3fe-11e6-98c6-e9556a37758f.png)

Thanks @mar-v-in !

[2017-01-28 04:15] Herny64 opened #10 "couldnt find libarthook_native.so"
Hi, i got this error when running SaftyNet Helper.
Android 7.1.1
January Security Patch Level
Resurrection Remix OS 5.8.0-20170121-h815-Unofficial_tyler

[code]

kind regards

[2017-01-28 04:17] ale5000-git commented on #10
Do you have the latest version?

[2017-01-28 04:33] ghost commented on #10
thx, it works now
i dunno how i got the wrong version from f-droid
probably miss clicked, sorry bro

[2017-01-29 09:25] #10 closed

[2017-02-14 01:53] ale5000-git commented on #7
I have updated both my ROM and GmsCore and now I pass all checks including CTS profile match.

I'm not sure what is happened but I suppose it is the recent change in GmsCore (Spoof chimera provider).
Thanks :)

[2017-02-14 01:53] #7 closed

[2017-03-03 21:56] logic opened #13 "SafetyNet check failing"
Hi,

I'm on a Nexus 5 (hammerhead) running the latest LineageOS 7.1.1 build. `com.google.android.gms-10087435.apk` and `org.microg.gms.droidguard-8.apk` are installed in `/system/priv-app`, and the su addon, while it was once installed, has been removed.

The relevant portion of logcat's output when running a safetynet test is:

[code]

FWIW: this exact combination of software is working just fine

[2017-03-07 19:52] logic commented on #13
After this week's LineageOS update, as well as this week's GmsCore update (I didn't do them separately to test this, unfortunately), safetynet is passing on my Nexus 5 again. So, might as well close this out.

[2017-03-07 19:52] #13 closed

[2017-03-14 16:40] ShapeShifter499 opened #14 "SafetyNet fails with DroidGuard microG on LineageOS 14.1"
I haven't been able to get microG or DroidGuard to work with SafetyNet on a LineageOS 14.1 install with and without Magsik.  When I try LineageOS 14.1 with OpenGapps and Magisk instead it works fine and SafetyNet passes.

System
Moto X Pure (clark)
LineageOS 14.1

[2017-03-14 20:58] ghost commented on #14
im on LineageOS 14.1 with magisk and microG and i pass saftynet so we should be able to help you.
What signature spoofing method did you choose ?
On what Version are you ?
is FakeStore installed ?
Its important to have the latest version installed:
https://microg.org/download.html
Also: Would be nice to see a logcat from Saftynet test with magisk and microG installed.

[2017-03-14 22:08] ShapeShifter499 commented on #14
The things I installed. The microG stuff I installed from F-Droid
DroidGuard 0.1.0-4
microG 0.2.4-79
microG framework installed 0.1.0
MozilaNlpBackend 1.3.2
NominatimNlpBackend 1.2.1
Official Google Play apk 7.6.07.N-all_0_PR_148468439-80760700  (Installed as /system/priv-app/Phonesky/Phonesky.apk)
Magisk 11.1

I made sure Magisk Hide was switched on in settings.

I first used my own build of Line

[2017-03-14 22:09] ShapeShifter499 commented on #14
whoops hit close by mistake.

[2017-03-14 22:24] mar-v-in commented on #14
is DroidGuardHelper 0.1.0-4 in /system/priv-app? In case it's not, try if moving it there makes any difference.

[2017-03-14 22:36] ale5000-git commented on #14
It is a problem probably related to SELinux, and it usually work if you move it to /system/priv-app like mar-v-in said.

[2017-03-14 23:12] ShapeShifter499 commented on #14
@mar-v-in @ale5000-git just /system/priv-app/DroidGuard.apk?     Should it be named anything in particular or stored in a sub-folder?

[2017-03-14 23:23] ale5000-git commented on #14
The name and the sub-folder doesn't matter but I would put it in a sub-folder to be consistent.

[2017-03-14 23:28] ShapeShifter499 commented on #14
@ale5000-git making sure. I thought SafetyNet was looking specifically for /system modifications so maybe anything weirdly named or whatnot. I'll try it in a few.

[2017-03-14 23:32] ale5000-git commented on #14
I don't know for sure but I think it look just for "know bad" things, not for everything, that would be impossible since it have to run on a infinite number of different phones.

But it may fail if the phone support verified boot and you have an unlocked bootloader.

[2017-03-15 01:25] ShapeShifter499 commented on #14
@mar-v-in @ale5000-git Ok I wiped everything using TWRP, I flashed the official LineageOS Nightly 03/13/2017 then I patched using 'tingle' and then flashed Magisk. After setting microG up, I put DroidGuard in '/system/priv-app/GmsDroidGuard/GmsDroidGuard.apk'  SafetyNet passes again!

[2017-03-15 01:29] ShapeShifter499 commented on #14
Workaround works for now but what is the longer term solution?   Maybe a all-in-one flash zip could be made for people who want everything and SafetyNet/DroidGuard?

In any case I added all this to a /system/addon.d script so things don't get removed every time I flash a new ROM

[2017-03-15 01:41] ale5000-git commented on #14
I have already planned to insert DroidGuard Helper in my installer.

[2017-03-15 01:43] ShapeShifter499 commented on #14
@mar-v-in this should be noted somewhere (unless I missed it) that selinux might require DroidGuard to be in /system/priv-app

I'm going to close this now since my issue has been resolved. Thank you guys for the help.

[2017-03-15 01:43] #14 closed

[2017-03-15 02:02] ShapeShifter499 commented on #14
@mar-v-in @ale5000-git I forgot to ask, if DroidGuard is updated can I keep the old version in priv-app and install the new one over top of it from F-Droid?  Or do I have to copy in any updates replacing the old to priv-app also?

[2017-03-15 09:20] mar-v-in commented on #14
Yes, you can update droidguard helper through f-droid as usual, but the file in /system must still exist.

[2017-05-19 23:44] #8 closed

[2017-05-19 23:52] mar-v-in commented on #5
I decided to not go into the details of tricking droidguard into anything, because it will be a mostly useless cat-and-mouse-game. If someone is willing to such a thing, it's up to them. As with other contributions that are about spoofing, I will keep the corresponding pull requests open, so that you can easily find it.

[2017-05-19 23:52] #5 closed

[2017-05-19 23:53] #6 closed

[2017-05-19 23:59] mar-v-in commented on #6
There won't be automated build for binaries that have to be signed, because this means that the key for signing has to be somewhere unencrypted, which is a high risk... Semi-automated processes (requiring me to enter a password for the signing key) are already present, I just have to start them for each commit...

[2017-05-20 00:13] ale5000-git opened #15 "Support for API 9"
Please add support for API 9

[2017-05-20 09:11] mar-v-in commented on #15
Are there actual devices still running API 9?

[2017-05-20 13:56] ale5000-git commented on #15
Well, a phone is working until isn't broken.
It can be almost forever if you are lucky.

There are a lot of used phones that can be bought.

[2017-05-20 14:28] mar-v-in commented on #15
Sure, but I think all of them actually upgraded to API 10+

[2017-05-20 15:19] ale5000-git commented on #15
It may not happen on all phones, there are a lot of unknown chinese brands that do not give support at all.

[2017-06-11 12:59] ale5000-git commented on #1
@LatexXx
The version 0.1.0-10 is here: https://microg.org/fdroid/repo/org.microg.gms.droidguard-14.apk

Did the latest version work for you?

[2017-06-12 23:04] #15 closed

[2017-06-13 10:17] ale5000-git opened #16 "Stable release"
It seems pretty stable.
Is it possible to do a new stable release (not preview release)?

[2017-10-10 06:33] jamyy2000 commented on #10
How did you solved this problem?I also get the same problem. Thanks.

[2017-10-10 16:46] ale5000-git commented on #10
@jamyy2000: Do you have the [latest version](https://microg.org/download.html) of DroidGuard Helper installed (currently 0.1.0-10)?

[2017-10-11 02:03] jamyy2000 commented on #10
@ale5000-git I didn't install DroidGuard Helper, I just push my APK into /system/priv-app/, and the apk contains some *.so files in /lib/arm64/ path,when run the APK,it cause UnsatisfiedLinkError, the error log is ：
dalvik.system.PathClassLoader[DexPathList[[zip file "/system/priv-app/TestNative/TestNative.apk"],nativeLibraryDirectories=[/system/priv-app/TestNative/lib/arm64, /system/fake-libs64,

[2017-10-11 11:31] ale5000-git commented on #10
@jamyy2000: This prove you are using an old version since the latest version no longer use libs.
You should push an updated apk.

[2017-10-11 13:33] jamyy2000 commented on #10
@ale5000-git:  I'm using new Huawei device,and It didn't install the apk at all, I just develop a apk using jni includes /libs/arm64/xxx.so,and root the device,and push the apk into /system/priv-app/ path,make this apk cann't be uninstalled , but when run the test apk,get the problem.

[2017-10-11 18:43] ale5000-git commented on #10
@jamyy2000: You just have to push the new version with the same name and position of the old version in system/priv-app/ and it will overwrite it.

Note: To download the apk go [here](https://microg.org/download.html), in the drop down menu of DroidGuard Helper choose 0.1.0-10.

[2017-11-05 22:52] gabsoftware commented on #14
I know the issue is closed, but if it can help someone, I wrote the detailed steps I did to pass SafetyNet on MicroG LineageOS builds. Here it is: https://www.gabsoftware.com/tutorials/how-to-use-microg-on-lineageos-or-cyanogenmod-without-xposed/#safetynet
The key was to manually place the DroidGuard helper APK in /system/priv-app.

[2017-11-15 12:40] ArchangeGabriel commented on #14
@gabsoftware I’ve just discovered μG LineageOS builds thanks to you. I’ve seen they have been added to the wiki, but I’ve never seen them being mentioned in issues around there.

[2018-02-23 17:36] montvid opened #17 "microg lineage builds don't pass safetynet"
Could someone fix the microg lineage builds to pass safetynet? Now I need to root lineage and copy the apk to /system/priv-app/ myself and then unroot it to pass.

[2018-02-23 17:56] ale5000-git commented on #17
You can also use my [microG unofficial installer](https://forum.xda-developers.com/showthread.php?t=3432360) (or other installers) to place the file without root.

[2018-02-23 19:02] montvid commented on #17
Thanks, I used twrp file manager to copy the file. Also is there a possibility to increase the widevine security level from L3 to L1? I thought it has something to do with safetynet but now I pass it but drm info shows L3 still.

[2018-02-26 13:21] ArchangeGabriel commented on #17
@montvid: Widewine security level is mostly device dependent AFAIK. For example OnePlus started to ask people to send their OnePlus 5T back to them if they wanted the security level to be raised from L3 to L1, because apparently they have to modify things on the device in a way they cannot share. So a first good question would be: does your device reach L1 with vendor OS?

Regarding DroidGuard bei

[2018-02-26 13:47] montvid commented on #17
Nexus 7 2013 flo does have L1 hdcp 2.2 on stock Android 6 with an unlocked bootloader according to drm info app. How to have L1 on a custom rom I don't know if it is possible.

[2018-02-26 14:13] ale5000-git commented on #17
@montvid: Does it have L1 by using official "standard" LineageOS + Open GApps?

If not, then it isn't a microG problem and you should report it to LineageOS.

[2018-02-26 14:31] montvid commented on #17
@ale safetynet is not working on lineageos too but microg fixed that. All custom roms I know have L3. Safetynet is a security feature as widevine L1. I am just asking as microg fixed safetynet can the guys fix videwine too.

[2018-02-26 14:35] ale5000-git commented on #17
@montvid: Probably the maintainer of your device broke SafetyNet, microG doesn't fix it.

[2018-03-25 15:43] mirh commented on #17
Isn't that the opposite.. of the thread title?

[2018-04-29 15:24] Milliw commented on #17
I am also having issues for now regarding this. Wanted to install an app that uses SaftetyNet but was not successful. So I downloaded newest version of droidguard on F-Droid but that didn't solve the issue. Next I found this thread here and made droidguard an system app (by using YALP store function) but still can't pass the SafetyNet check app though MicroG says it is enabled.

Where's the mistak

[2018-04-29 15:29] ArchangeGabriel commented on #17
@MarcoWilli No mistake on your side, read from https://github.com/microg/android_packages_apps_GmsCore/issues/482#issuecomment-379681892.

[2018-04-29 15:54] Milliw commented on #17
Thanks for that hint. I guess I was looking in the wrong repository. This also explains why there are only three open issues :D
So is my issue really because of this? On PlayStore and Aptoide I can download the app but it just fails because of "not compatible". YALP Store is telling this directly and won't let me download.

Tell me if this is the wrong place for finding a solution/workaround. =)

[2018-04-29 16:11] ArchangeGabriel commented on #17
We would need a logcat to know if broken SafetyNet is your issue. If so, they are only two options if you want SafetyNet working: wait for @mar-v-in to come with a fix for it or go back to standard GApps (well technically you can reduce that to PlayServices only).

[2018-04-29 17:28] Milliw commented on #17
Thanks again. I was able to solve it on my own with your hint to use logcat. It was because of missing gmaps v1 api. First installed the 0.5 release from your repo but that was not fully working. Then pulled the latest release from microg repo and that did the job. Wasn't able to use the latest committed version because installation instructions are missing but that's another story =)

[2018-04-30 21:20] ibleedbinari opened #18 "64bit binary not available on 0.1.0-10"
DroidGuard Helper force closed when running SafetyNet check. Tested on Google Pixel Android 8.1 stock 64bit.

[code]

[2018-05-01 00:12] ale5000-git commented on #18
@ibleedbinari
The problem is already fixed in the latest unstable release (currently 0.1.0-**10**).

[2018-05-01 05:55] jamorford commented on #18
That is the version I was using, installed from the F-Droid repo. I picked the latest version of GmsCore and DroidGuard.

[2018-05-01 09:57] ale5000-git commented on #18
It is what I was saying, the auto-selected latest version is pretty old, you should enable the installation of unstable updates in F-Droid and select manually what have the higher version number.

[2018-05-01 13:40] Allfd commented on #18
I can confirm that this is an issue with 0.10.0-10.  I am getting the same error message.

[2018-05-01 16:31] ale5000-git commented on #18
I think that it is physically impossible because the latest version do not use any ".so" library at all.
But I don't know exactly the code so maybe someone that know better the code can check.

[2018-05-02 00:32] nermolov commented on #18
Can confirm, installed latest unstable build from F-Droid repo and get the same error.
[code]
Running OnePlus 3T with LineageOS 15.1

[2018-05-02 06:59] rootd commented on #18
Happens to me too. Version 0.10.0-10, OnePlus 3T with latest microG LineageOS 15.1 version

[2018-05-02 10:04] ArchangeGabriel commented on #18
I can confirm this too, this is a new issue in addition to https://github.com/microg/android_packages_apps_GmsCore/issues/482.

[2018-05-02 10:07] ArchangeGabriel commented on #18
I think this is likely Google that changed something on their end again, and μG needing to adapt to that too. But since there seems to be only one person with the required knowledge and competences, we can only wait for @mar-v-in to know more about this.

[2018-05-17 06:44] alpianon commented on #18
I confirm this issue, too.
I have a HTC-10 with Lineage OS 14.1 and DroidGuard Helper v.0.1.0-10-gf64bf69 installed in /system/priv-app/, and these are the relevant log lines:

[code]

[2018-05-17 07:01] alpianon commented on #18
I'm no Android expert and I've never built an android app, but my guess is that the problem could lie in `android_packages_apps_RemoteDroidGuard/remote-droid-guard/src/main/java/org/microg/gms/droidguard/DroidguassoHelper.java`, line 39-45:

[code]

In a 64bit system, files in paths `/vendor/lib64/egl` and `/system/lib64/egl` should be included instead

[2018-05-17 09:44] alpianon commented on #18
As far as I can understand, DroidGuard Helper "asks" Google to return the correct droidguard binary package for the specific device/system and saves it as "the.apk" in its cache dir.  "the.apk" returned by Google contains a library that DroidGuard Helper extracts to its cache dir in order to run it in a sandbox. In my case, such library is named `libdD5EB9CD8D8E6.so` but if I inspect it with reade

[2018-05-17 10:12] alpianon commented on #18
The strange thing is that the .dex file that is extracted and compiled from "the.apk" to opt/the.dex in DroidGuard Helper cache dir is an aarch64 binary, while the library `libdD5EB9CD8D8E6.so` (aka  `libdroidguard.so`) contained in the same "the.apk" is  a 32-bit ARM binary.

I attach a full copy of droidguard helper cache:
[droidguard_helper_cache.zip](https://github.com/microg/android_packages_

[2018-05-17 12:06] alpianon commented on #18
I checked in another device of mine (OPO1 with Lineage OS 14.1 and Gapps - NOT microG - installed, with SafetyNet working - checked with Magisk). In `/data/data/com.google.android.gms/app_dg_cache/FB0CA76275DC755EBCD15654DAA817AE34F09EB0` I have found exactly the same "the.apk" package, with the same checksum, and the same  `libdD5EB9CD8D8E6.so` inside. However, in that device, it seems that Gapps

[2018-05-17 13:26] ale5000-git commented on #18
@alpianon: I just noticed that the folder name is the same but it has a different case (uppercase/lowercase).
I don't really know if it make a difference but who know.

[2018-06-06 13:22] ClearlyClaire commented on #18
@ibleedbinari are you able to build and install your own `RemoteDroidGuard`?
If so, there are a couple of things you could try, one by one, the commits I added in <https://github.com/ThibG/android_packages_apps_RemoteDroidGuard/tree/aarch64>?

[2018-06-10 18:40] mattpctech commented on #18
I am having the same issue where it downloads the wrong version for my 64 bit phone. I was able to compile your modified version, and I think I updated it correctly on the phone. It is still however pulling the 32 bit file.  Is there a way I can confirm the correct version is installed/running on the phone, and are there any cached files I need to remove for it to work?  Thank you!

[2018-06-10 18:52] ClearlyClaire commented on #18
@mattpctech you could run `adb logcat | grep GmsDroidguardHelper`, it should, among other things, return a line looking like `GmsDroidguardHelper: DGRequest{usage=DGUsage{type=attest, packageName=com.google.android.gms}, info=[…], …)` and something like `GmsDroidguardHelper: Using cached file from /data/user/0/org.microg.gms.droidguard/app_dg_cache/322d473b5c6076250d7a2ce450fef526f05a89c4/the.apk`

[2018-06-13 19:23] ale5000-git opened #20 "Please prevent all apps excluding GmsCore from executing DroidGuard"
As title said.

[2018-07-05 15:16] AlvaroBrey commented on #18
I'm having this issue as well. Any workarounds?

[2018-07-05 15:24] ClearlyClaire commented on #18
@ontherunvaro you could try building from source with these changes: https://github.com/ThibG/android_packages_apps_RemoteDroidGuard/tree/aarch64

I don't have a 64-bit phone to try out, but I'm fairly confident this fixes the issue.

[2018-07-05 22:56] AlvaroBrey commented on #18
@ThibG I can confirm that does fix the issue, thanks!

[2018-07-23 21:13] csolisr commented on #18
@ThibG @ontherunvaro Would you kindly provide a compiled version of your changes? I've been unable to use SafetyNet-locked apps because of this bug.

[2018-07-23 21:36] AlvaroBrey commented on #18
@csolisr [Here you go](http://www.mediafire.com/file/6v5a6711ro85y6e/remote-droid-guard-debug.apk/file) (mediafire link because github won't let me attach APKs).

It's a debug APK compiled with test keys, but it worked for me.

[2018-07-24 17:25] MattVibes opened #21 "Safetynet no longer working"
Hello!
I installed all the latest MicroG components on my oreo phone, everything works... Except one single, very annoying, thing... Whenever I try to test Safetynet with either Magisk or "Safetynet Test" app, "Droidguard Helper has stopped working" and ofc it fails. This means I can't download Netflix or login to Snapchat for example. Does anyone have a workaround as Safetynet is relatively impor

[2018-07-24 17:32] ArchangeGabriel commented on #21
It has been the case for the past 3 months: https://github.com/microg/android_packages_apps_GmsCore/issues/526

[2018-07-24 18:52] MattVibes commented on #21
Okay thanks, Nanodroid is the goto option then?

[2018-08-18 14:46] jansohn commented on #18
@ThibG unfortunately your changes don't work on my phone (Moto G, LineageOS 14.1, Magisk v16.7, GmsCore 0.2.4-111-gf1cdb48). Any idea?

[logcat_safetynet.txt](https://github.com/microg/android_packages_apps_RemoteDroidGuard/files/2299612/logcat_safetynet.txt)

[2018-08-18 14:49] ArchangeGabriel commented on #18
@jansohn Your GmsCore is not sufficiently up-to-date for SafetyNet. You need https://github.com/microg/android_packages_apps_GmsCore/pull/553 in addition to @ThibG changes.

[2018-08-18 15:31] jansohn commented on #18
I'm not able to build GmsCore with the provided gradle configuration.

[2018-08-19 17:35] jansohn commented on #18
I was able to build the latest GmsCore from @ThibG (stupid symlinks...) but the DroidGuard service still crashes before receiving an answer.

    08-19 19:31:54.004  1707  1707 D GmsSafetyNetClientSvc: onBind: Intent { act=com.google.android.gms.safetynet.service.START pkg=com.google.android.gms }
    08-19 19:31:54.019  1707  1728 D GmsSafetyNetClientSvc: bound by: GetServiceRequest{serviceId=SAF

[2019-05-09 22:39] Atrashraccoon opened #23 "MicroG lineage build don't pass SafetyNet and I'm very new to this"
Hi,

I installed microG for LineageOS on both my S9+ and S7 Edge but even when I enable SafetyNet and installed the Droid Guard Helper from Fdroid I can't pass the test.

I've read that you might need to push files to /system/priv-app/ and other things but I have no idea how to do that and if I should.

[2019-05-15 23:04] JeffreyAbbinante commented on #23
Use the version [here](https://github.com/microg/android_packages_apps_GmsCore/issues/638#issuecomment-428640487) and put it in /system/priv-app/ using the Systemizer Magisk Module. After that you will enable SafetyNet in the MicroG settings app and enable using the official server in the advanced settings. This is how I got SafetyNet to work on my phone. Hope this helps as it took me awhile to fi

[2019-05-17 19:29] jamorford commented on #18
Forgot to close this issue a while back. Thanks for fixing @ThibG

[2019-05-17 19:29] #18 closed

[2019-06-04 07:23] KILLERTKK opened #24 "SafetyNet now fails again"
Google seems to have pushed out an update to SafetyNet that breaks it on MicroG

[2019-06-05 04:16] SoaringLake commented on #24
Please, fix it, no safetynet android does not make sense :'(

[2019-06-06 23:55] Exodusnick commented on #24
Please, fix it.

[2019-06-07 05:39] JohnGLFour commented on #24
@mar-v-in @ThibG
The problem is how it works, not detect.

[2019-06-07 07:36] ClearlyClaire commented on #24
I am aware. I do not know why it fails. And as you may know, DroidGuard is purposefully difficult to understand. I have no time to spend on this for the moment.

[2019-06-08 03:50] JohnGLFour commented on #24
@ThibG
Google rewrote the process of how Safetynet works on a new update. @Nanolx mentioned this in his Nanodroid XDA Post.

Take your time, hope you can figure it out.

[2019-06-23 13:18] TeslaBargain commented on #24
So SafetyNet still not working?

I just tried with a fresh installation of LineageOS 16.0 MicroG + latest Magisk on my OnePlus 6, installed DroidGuard using F-Droid (I didn't manage to copy it to /system/priv-app though), DroidGuard is selected in Magisk Hide, and the SafetyNet test fails (ctsProfile: false & basicIntegrity: false). Obviously my Internet bank app fails to start.

[2019-06-30 01:25] JohnGLFour commented on #24
Obviously, due to a new update Google rewrote how it works to Safetynet, it still not working.

[2019-07-08 10:13] Nanolx commented on #23
@ale5000-git could you close this issue? It's about the old bug fixed by https://github.com/microg/android_packages_apps_RemoteDroidGuard/pull/19

[2019-07-08 10:13] Nanolx commented on #21
@ale5000-git could you close this issue? It's about the old bug fixed by https://github.com/microg/android_packages_apps_RemoteDroidGuard/pull/19

[2019-07-08 10:15] Nanolx commented on #17
@ale5000-git could you close this issue? It's about the old bug fixed by https://github.com/microg/android_packages_apps_RemoteDroidGuard/pull/19

[2019-07-08 10:16] Nanolx commented on #1
@ale5000-git could you close this issue? It's about the old bug fixed by https://github.com/microg/android_packages_apps_RemoteDroidGuard/pull/19

(sorry for spamming your inbox)

[2019-07-08 11:00] ale5000-git commented on #23
@Nanolx: Currently I can't do it on this repository.

[2019-07-08 11:16] Atrashraccoon commented on #23
Sorry for that, my issue wasn't closed and I spent countless hours trying to educate myself on this matter, I'll be checking your link @Nanolx and close this issue.

[2019-07-08 11:16] #23 closed

[2019-07-08 18:37] ale5000-git commented on #23
@Nanolx: Now, I can do it.

[2019-07-08 18:39] #1 closed

[2019-07-08 18:40] ale5000-git commented on #1
@Nanolx: No problem, in this way I find issues more easily.

[2019-07-08 18:48] #21 closed

[2019-07-08 18:50] ale5000-git commented on #17
@montvid
I'm closing it since now safetynet is completely broken due to a Google change, once issue #24 is fixed you can open another issue if something is not working for you.

[2019-07-08 18:50] #17 closed

[2019-07-08 18:54] ale5000-git commented on #16
I'm closing it since now it is no longer working and it need to be fixed first.

[2019-07-08 18:54] #16 closed

[2019-07-08 20:13] Pinjontall94 commented on #24
Is there somewhere we can look to help out? Even if it's just bug testing, I'd love to help get this fixed sooner rather than later.

[2019-07-08 20:48] Nanolx commented on #24
Not actually. it's on mar-v-in's agenda, but no ETA.

[2019-08-05 22:55] smnthermes commented on #24
Don't be tracked, pay cash.

[2019-08-05 23:00] Foorack commented on #24
@samantohermes Unserious comment, impractical approach.

[2019-08-22 15:12] ghost commented on #24
+1

[2019-08-26 13:24] ghost commented on #24
Any updates on this situation?

[2019-09-06 21:54] ghost commented on #24
It would be great to know if this issue is known by now and if it'll get fixed or not.

[2019-09-10 06:13] Kamalnrf opened #25 "vmUrl is coming as empty string"
https://github.com/microg/android_packages_apps_RemoteDroidGuard/blob/4cd4e55e06c87a5fde99ca782e25cb91eb61bdaa/remote-droid-guard/src/main/java/org/microg/gms/droidguard/DroidguardHelper.java#L229

[2019-09-24 23:52] errorcodevortex commented on #24
Any luck here yet? Havoc OS LGV30 tried nanodroid and magisk module going to try manual install from frdroid and systemizer possibly bitgapps. Custom droidguard app from link above 404

[2019-09-27 08:50] errorcodevortex commented on #24
I managed to pass both safetynet checks with micro-g everything working atleast for past 4 days. Wasn't to exhaustive but did require fxamework. Not sure if anything can be worked in officially from this angle but I hope. Pm'd Setialpha + Mar-V-in on xda, not sure who else to let know.

[2019-09-28 07:51] ghost commented on #24
That's the problem. I suppose you used the HiddenCore Module and yes while it passes SafetyNET most apps that block devices without SafetyNET check will still block you out.

[2019-09-29 03:48] errorcodevortex commented on #24
I did have to restore snapchat from Titanium still. Just about everything else working without restore pubg, paypal, maps, my bank app not sure if this is new or not. Only apps that check for x arn't working initially(snap, I guess some high end bank apps, nfc maybe?). Confirmed working on Note 9 and LGV30 roms with pie. Didn't use HiddenCore found a different module did not know about that one bu

[2019-09-29 08:50] ghost commented on #24
Ye I would like to use that as well again but I don't have a backup...

[2019-09-29 09:11] errorcodevortex commented on #24
I flashed again with bitgapps real quick just to make a backup earlier and reflashed everything again myself. But I'm a flashaholic, never get very attached, should be possible to make one from another device as well, would have done that but my x86 build doesn't pass safetynet and the backup phone has ubports on it, thought to maybe try it on anbox but didn't want to install it again didn't know

[2019-09-29 10:11] ghost commented on #24
I don't really wanna flash again after just setting everything up. And sadly enough I don't have another rooted phone I could use to create a backup :/

[2019-09-29 10:41] ghost commented on #24
Likewise, I'd like to emulate it into working somehow. I've even got twrp backups but I am not sure how to extract the right data.

[2019-09-29 10:51] errorcodevortex commented on #24
Snapchats not really that great imo, that is tragic tho, I do hate reflashing too for 1 small thing like that. Did get it working with but restore was a bit fidgitty installed apk from store first then restored the data on top of it.

Did have a moment to try out hiddencore 1.7. Don't know how I didn't come across it before. It does seem to work for most apps in the same fashion but my screen disp

[2019-09-29 11:54] ghost commented on #24
I tried different ways to bypass it (mainly for Snapchat). They nearly all passed Magisk SafetyNET test but still failed with Snapchat what is quite sad because Snapchat only checks for SafetyNET before login in. Since I don't have a file backup that doesn't help me though

[2019-09-29 12:08] jeroenev commented on #24
any updates on this?
bypass possible without xposed? don't want to root my device.
also doubt that com.safetynet.bypass is open source

[2019-09-29 18:54] ghost commented on #24
Even with Xposed it's not easy to trick the Safetynet check. So no without root you won't get anywhere but also with it doesn't help a lot. I guess we just gotta wait till they drop an update for MicroG

[2019-09-29 19:17] errorcodevortex commented on #24
I don't think either fix is fully open source. I do though think it makes a big difference tho, helps a lot. Passing both checks as opposed to failing them both. Seemed pretty easy. I don't use google pay or pokemongo, my bank app is fine most everything is good now, restoring the one app for me isn't any issue. Wasn't going to end up using micro-g at all most-likely was just going to use bitgapps

[2019-10-03 18:27] leekzz commented on #24
I have a problem about this. I'm on LineageOS for MicroG 16.0 for OnePlus 6. When I restore my Snapchat backup with oandbackups or Titanium, it's not working.I launch Snapchat, I barely have time to see the camera that it instantly disconnects me from the app. Before it worked very well but since June it doesn't seem to work anymore and I didn't find anything similar on XDA. Do you guys have a fix

[2019-10-03 23:25] JohnGLFour commented on #24
I am using EdXpoaed, and trying to use the bypass safetynet.apk. Hope this worked

[2019-10-04 08:03] JohnGLFour commented on #24
This worked on Magisk. I must say.

[2019-10-04 09:17] ghost commented on #24
@leekzz Do you have Snapchat enabled in Magisk Hide (If you use Magisk obviously :D)

[2019-10-04 09:19] ghost commented on #24
And with apps that blocked you out before as well?

[2019-10-04 09:23] leekzz commented on #24
@wilbie Yes he's activated, I'm using Magisk 19.4

[2019-10-04 09:54] NotesOfReality commented on #24
I'm using Tai-Chi Xposed, would you please share the link of this APK and its thread/description/Git repo?
Do you happen to know if it should work on Tai-Chi Xposed too?
Would I have to use Magisk 19.4+ or should Magisk 19.3+ be ok?

[2019-10-06 06:46] LeftSense opened #26 "Is DroidGuard Helper and DroidGuard the same thing?"

[2019-10-06 07:52] ArchangeGabriel commented on #26
No, DroidGuard is the Google binary, DroidGuard Helper is μG code to handle it. This repo is for the later.

[2019-10-06 11:24] #26 closed

[2019-10-06 17:54] unresolvedsymbol commented on #24
I've acquired a successful safetynet request but the payload verification still fails so in total it means nothing to actual applications (Magisk manager doesn't verify the response as all other apps do). Tried both shady closed source safetynet bypass xposed modules with the SandHook variant of the Snapchat EdXposed fork (1.0.3 because I'm not on Q) & the original EdXposed. Tried stable as well a

[2019-10-19 18:45] bennofs commented on #24
@Nanolx do you know what the issue is? I would like to work on fixing this, but I am currently a bit lost where to look

[2019-11-30 06:12] JohnGLFour commented on #24
The only solution is in 2 ways,
1. Make a 3rd party Saftynet that is the old version. (microG does allow to use other servers but building one needs time)
2. Rework to work with official SafetyNet.

[2019-11-30 08:06] bennofs commented on #24
@JohnGLFour do you know what exactly changed? Also, can you even run your own SafetyNet? I would assume that attestations have to be signed by a private key that only google possesses.

[2019-12-20 09:56] JohnGLFour commented on #24
From June to now it is 6 months, I still hope to see that this gets resolved soon.

[2019-12-30 15:47] alexandruchircu opened #27 "Leaked ServiceConnection from SafetyNetClientService to RemoteDroidGuardConnector"
microG: `0.2.10.19420` on `lineage-16.0-20191226-microG-oneplus3`

This happens some times, but I can't reproduce it reliably; best way I found so far is to cold start Uber, then cold start Lyft while Uber is in the background.

[code]

[2020-01-01 13:40] Nanolx commented on #24
It will be fixed eventually, @mar-v-in already ensured that, though no ETA and not highest priority, there are more important things to fix/support in first place (maps, login/auth, firebase support, etc.).

[2020-01-08 21:57] Kreyren commented on #24
@ThibG Do you have any tracking to what is causing this issue so that I don't have to start form the scratch assuming this being a help-wanted issue?

[2020-01-08 22:06] ClearlyClaire commented on #24
No, unfortunately, I don't

[2020-02-14 14:16] sprainbrains commented on #24
good news. But what about the deadlines?

[2020-02-14 14:48] Nanolx commented on #24
What deadlines?

Am 14. Februar 2020 15:16:05 MEZ schrieb Nikolai Sinyov <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2020-02-16 18:05] axelsimon commented on #24
"No ETA" means no deadlines, @sprainbrains.
The message you quote gives you all the answers you need: it will be fixed eventually, no ETA, not highest priority. In other words, don't ask when it will be done.

[2020-02-16 19:25] sprainbrains commented on #24
Oh, sorry for my quuestion. I got it.
I'll be waiting.

[2020-03-16 06:38] jeroenev commented on #24
It might become even harder to fix this, if not impossible:
"Magisk may no longer be able to hide bootloader unlocking from apps" https://www.xda-developers.com/magisk-no-longer-hide-bootloader-unlock-status/

[2020-03-16 15:36] mid-kid commented on #24
:iphone: :gun:
Just kill it. Kill all of it. I am so done with this shit. If not having nice things is their way of welcoming potential users then so be it.

[2020-03-16 15:51] theo546 commented on #24
This move from Google prove us once again that we don't even the right to run whatever we want on our devices that we paid for (hence the weird stuff SafetyNet does to verify the device status).
I don't get how my Android phone is any less secure than my computer?
Applications are sandboxed on Android, not under Windows, so why should a banking app block a rooted device (considering rooting is not

[2020-03-16 17:52] skid9000 commented on #24
Off-topic too but all theses moves from Google and the fact that now they want to modulate Android with packages that you have to download from the PlayStore instead of the "old" OTA system is freaking me out...
What's next ? All apps from the PlayStore should use SafetyNet ? Banning google accounts that have a rooted/flashed device linked to it ? Ban the device from the PlayStore at the hardware

[2020-03-16 22:26] Gigadoc2 commented on #24
I clam the opposite: Your PC is less vulnerable than the average Android phone, because your PC receives most of the critical updates through Windows Update (or your Linux package manager), while with your phone most of the stuff still needs to go through the OEM who has no financial motivation to actually push those updates through (one might even say the opposite). On a PC, the only thing that i

[2020-03-16 22:39] theo546 commented on #24
I think you misunderstood, I was saying that my Android phone was claimed to be "unsecure" by banking apps and SafetyNet just because it doesn't pass this stupid test, while on my computer, I have no test to pass BUT I still can access my bank website, it just doesn't make any sense.
I gotta agree with you that OEM are lazy to react and patch security issues, but literally any process on your PC c

[2020-03-22 23:31] smnthermes commented on #24
Native applications aren't sandboxed on Windows, but websites are sandboxed on browsers.

[2020-04-28 20:42] mimi89999 commented on #24
How many apps are affected actually? Is anything besides Snapchat and several banking apps using SafetyNet?

[2020-04-29 08:53] jeroenev commented on #24
Mcdonalds app, pokemon Go, Bancontact (the main mobile payment app used in my country), google pay.

[2020-04-29 08:58] skid9000 commented on #24
com.md.macdonalds.gomcdo ? I still have it on my phone and it seems to work fine without SafetyNet 🤔

[2020-04-29 11:38] 532910 commented on #24
google pay!

[2020-04-29 14:00] ghost commented on #24
Yuka

Le 29 avril 2020 13:38:30 GMT+02:00, sergio <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-05-01 17:50] 0x5ECF4ULT commented on #24
@errorcodevortex I reverse engineered the app you provided a download link to (was an early version of NoDeviceCheck over [here](https://github.com/pylerSM/NoDeviceCheck)) as well as the other "safetynet bypasses" in the XPosed repo. All of them are harmless (do not send any data, etc). All they do is block specific paths (eg su, xposed) and return true for basicIntegrity and ctsProfileMatch. This

[2020-05-23 23:14] #27 closed

[2020-06-29 13:54] #25 closed

[2020-07-03 12:48] HanabishiRecca commented on #24
According to recent news: just forget about it. If you are not playing by Google rules you will not be able to pass SafetyNet. That's it.
https://www.xda-developers.com/safetynet-hardware-attestation-hide-root-magisk/

[2020-07-03 21:37] sprainbrains commented on #24
It’s a very sad news ( Well... we will live with this

[2020-07-08 11:31] 0x5ECF4ULT commented on #24
Alrighty then we'll need a hardware hacker that gets the hardware attestation keys... But to my knowledge this hardware attestation thingy is nothing more than future dreams. This will go in prod in 2 years earliest but then then 99% of Android users will be mad at Google for blocking out legit, unmodified phones. That 1% are those people which change their phone every 2 years. IMO SN with forced

[2020-07-08 16:11] axelsimon commented on #24
Just to be clear, you are suggesting someone decap a SoC on a phone, and use an electron microscope to get that SoC's private key?

Also, i'm not sure you realise that the private key is not shared between devices, but unique to each chip. They are part of a chain of trust that goes back up to the manufacturer's root certificate. So even if you get one from one device, that does nothing for all th

[2020-07-21 07:05] 0x5ECF4ULT commented on #24
@axelsimon I apologize. Maybe I've been writing stuff before drinking my coffee.
I've opened a PR that works in the emulator. I hope those changes will be sufficient for the time until Google enforces hardware-backed attestation.

[2020-07-27 11:15] ArchangeGabriel commented on #24
Can we get an APK build from the latest tag? I can’t find it in the microG F-Droid repo.

[2020-08-04 18:49] Nanolx commented on #24
I made a build, feel free to give it a try. Of course it's got a different signature than the original, so first uninstall the official build (if any).

* https://nanolx.org/fdroid/repo/DroidGuard_0.apk

[2020-08-06 16:56] tpaniaki commented on #24
In my case (MicroG 0.2.10.19240-dirty with root / Magisk hide) still `Response payload validation failed`.

[2020-08-06 16:58] 0x5ECF4ULT commented on #24
@jfk88 please follow #29 and #30 for clarification

[2020-08-06 21:02] mtthidoteu commented on #24
Installed the last one @Nanolx replied with two days ago, and I'm getting that same error. What exactly are the steps to fix it (If, like i understood, it's working again)? Thanks

[2020-08-10 17:32] 0x5ECF4ULT commented on #24
@mat789456 yep you're right. SN seems to be working again (at least Google signs the response). The only issue left is that the apk hashes aren't included in the payload which causes the request to fail. Stay tuned!

[2020-09-16 02:52] BugGlitchy64 commented on #24
Wow the progress so far! I'm still waiting tho.

[2020-09-16 05:16] 0x5ECF4ULT commented on #24
@CRTComputer thanks for the feedback. Unfortunately I currently don't have time to continue the development of the fix. Watch #30 for updates.

[2020-09-24 12:00] Funatiker commented on #24
@0x5ECF4ULT I added some lines from a log file to the comments of that log file. I hope, it was the right place.

[2020-12-30 20:24] werdahias commented on #24
I recently did a full reinstall of LOS 17.1 , but SN fails of course. Is there anything I can do to help debugging? Or has Google hardened the validation, making it impossible to pass?

[2020-12-30 23:25] unresolvedsymbol commented on #24
No, this sandbox hasn't been updated for the new DroidGuard. If you want to pass SafetyNet install pico gapps, I'd assume you don't care about your privacy anyway if you're using a proprietary app that validates this.

[2020-12-31 11:20] werdahias commented on #24
I do care about privacy, or else I wouldn't be using Lineage in the first place. I have three apps that require SN. It would be great if I could run these.

[2020-12-31 11:44] Master0ne commented on #24
@CountOmega can you name those three apps? I am using several "critical" banking apps that need Magisk Hiding, but I have not come across an app that requires SafetyNet so far.

[2020-12-31 11:48] 0x5ECF4ULT commented on #24
@CountOmega thanks for your offer, but unfortunately there's nothing where debugging could be of help. The main and (hopefully) only issue atm is that DroidGuardHelper (the sandbox DroidGuard runs in) doesn't return values that are signed by Google. Please watch #30 for updates.
For the hardening part: Google implemented key-vault-based (TPM, SE, ...) attestation which could prevent users with unl

[2020-12-31 11:55] 0x5ECF4ULT commented on #24
@unresolvedsymbol in fact it has been updated. Please watch #29 and #30.

[2020-12-31 12:00] werdahias commented on #24
Thank you for your explanation what the current state of things is. I already read about #29 and #30. I also installed @Nanolx' build of DroidGuard but I still get an error. If I need SN, should I just install pico Gapps atm? I really appriciate all the work you have done.

[2020-12-31 12:06] 0x5ECF4ULT commented on #24
@CountOmega pico GApps are the better idea atm. Thanks for your kind words but it has not only been me. Marvin has been a huge help on my way there ;)

[2020-12-31 12:11] werdahias commented on #24
Ok, thank you. I will reinstall Lineage with PicoGapps. Keep up the good work.

[2020-12-31 12:37] ladislavkrivy commented on #24
@CountOmega If you have time to spare there is one thing worth trying. Some apps only check safetynet during first login/initialization so after doing that you can reboot, back them up, flash clean rom, restore and hope they keep working. (Make sure to magisk hide and hide magisk on the new rom too, not to trip some system checks. After some trip-up I was able to restore from backup again and the

[2020-12-31 16:20] werdahias commented on #24
So did a reset and voilá, it works. CTS profile match is still false, but all relevant stuff seems to work.

[2021-01-01 00:42] unresolvedsymbol commented on #24
@0x5ECF4ULT I've reviewed some of the last commits, however, are you sure the DroidGuard binary hasn't received any updates since July? GPS certainly has received many. I'd also say the result not being signed is a very critical flaw, and would result in any app with a proper SN implementation to disregard if the so called CTS profile and basic integrity were true. (Magisk Manager doesn't show thi

[2021-01-01 09:04] 0x5ECF4ULT commented on #24
@unresolvedsymbol Yes the DG binary hasn't been updated since July but there's also a 1/10 chance that this binary gets invoked. The binary you mean is the offline DG. For online signage by Google the newest binary is downloaded and directly invoked. For the signage part: please take a good look at all the logcat outputs in the PRs. Google signs the requests. The only issue is that the response is

[2021-03-04 12:31] mcdoe commented on #24
@0x5ECF4ULT are you passing SN w this?

[2021-03-04 18:13] 0x5ECF4ULT commented on #24
@mcdoe I got indicators that Google sends back signed responses (no response was the original problem) but I'm not passing SN yet. First because I'm using an emulator and second because the code isn't fully functional yet.

[2021-03-05 00:15] mcdoe commented on #24
@0x5ECF4ULT  got it. As far as you know, is there a way to pentest android apps in an emulator while passing safetynet?

[2021-04-12 10:46] 0x5ECF4ULT commented on #24
@mcdoe no there's no way to achieve that using mG. You can try to install something like OpenGApps and fake your device properties to get CTS passing. Another method would be to mock everything using Frida and pray for the app to not verify the signature by phoning home.

[2021-04-12 18:52] unresolvedsymbol commented on #24
Lately I've been using microG with apps that I thought(?) verified safetynet like snapchat, my banking apps, cashapp, revoult, etc without issues on 0.2.17.204714 with magiskhide enabled on said apps. Make of it what you will.
![Screenshot_20210412-135207_SafetyNet_`attest`](https://user-images.githubusercontent.com/48220091/114445971-0c070e00-9c14-11eb-914b-a0bfb537d750.png)
![Screenshot_20210412

[2021-04-12 19:52] 0x5ECF4ULT commented on #24
That's weird. The only reason this could have happened is by authenticating to said apps prior to installing mG. What's your device?

[2021-04-13 01:23] unresolvedsymbol commented on #24
Using crDroid 7.4(?) on a OnePlus 7 Pro, no trace of gapps at all. And no, I can re-login to all said apps just fine. I don't use titanium backup.

Also if it makes a difference I self build nanodroid's microG metapackage and install it from storage with Magisk.

[2021-04-13 03:01] Master0ne commented on #24
@unresolvedsymbol I'm using quite some banking and other sensitive apps myself (including Revolut and Revolut Business) and none of these require SafetyNet to pass, only Magisk Hide. Even the overly annoying DKB TAN2go app can be tricked by "freezing" Magisk first and in fact I haven't come across any app that requires SafetyNet to pass so far.

BTW I'm using ArrowOS 11 with Magisk v22.1 and micro

[2021-04-13 07:19] 0x5ECF4ULT commented on #24
@unresolvedsymbol also on crDroid here :D could you by any chance capture your logcat output while logging in to Snapchat for example? This could eventually help resolving your mystery and this issue overall.

[2021-04-17 13:37] unresolvedsymbol commented on #24
@0x5ECF4ULT https://a.pomf.cat/bktmgu.7z nothing much interesting as far as I can tell. cleared data + relogged into snap with keepassdx magikeyboard (then stripped some stuff, probably missed some but eh)

[2021-05-20 19:21] Nanolx commented on #24
Not all apps may using SafetyNet or some may have changed to accept api failures when request itself was sent succesfully, because you know no recent Huawei device can attest SafetyNet, but those apps like Instagram, Snapchat & Co. still want those users' data/interactivity. Also there are some apps which only restrict certain functionality behind SN, like my banking app only dissallows fingerprin

[2021-05-21 11:39] theo546 commented on #24
So, this whole Huaweï trade ban thing may be a good thing for us after all, maybe we'll see more apps doing this, that can be a very nice solution.

[2021-05-21 11:51] jeroenev commented on #24
Well, it might be
but the response from every single app from my country has been
"we don't give a shit", "the market is too small", "we might re-evaluate in the future"

[2021-05-21 11:52] jeroenev commented on #24
Huawei seems completely dead after the ban, you barely see any Huawei phones any more unless they're 2+ years old.
obviously in china they're still massive, but in Europe they seem completely dead.

[2021-08-11 02:59] redchilis commented on #24
[![Safety Net](https://img.youtube.com/vi/LBBZeJhteRE/0.jpg)](https://www.youtube.com/watch?v=LBBZeJhteRE)

[2021-09-04 13:14] kondors1995 commented on #24
@unresolvedsymbol are you still able to use those apps after recent safey net changes since new changes broke CTS even for unrooted phones with costom rom

[2021-10-27 05:42] dylangerdaly opened #31 "SafetyNet Issues"
**Describe the bug**
Latest version of microG + RemoteDroidGuard isn't working.

[code]

Both basic and CTS are returning `false`, I've successfully applied kdrag0n's AOSP patches listed [here](https://protonaosp.kdrag0n.dev/developers/details/safetynet), so the Build.Fingerprint etc APIs are indeed being hooked, as well as verifiedboot state.

It's at a point where both CTS and Basic should be pa

[2021-10-31 22:52] OrionMoonclaw commented on #24
Considering that Google is trying to introduce hardware-based attestation and other companies are onto trusted computing again (Microsoft with AMD and Intel possibly?), maybe this should be closed? This never should've been an issue and its existence means we've failed. The proper way to fix everything here is standing up for your digital rights, do as much to distance yourselves from anything rel

[2021-11-07 12:34] ArchangeGabriel commented on #31
This has been broken for years, see https://github.com/microg/RemoteDroidGuard/issues/24, https://github.com/microg/RemoteDroidGuard/pull/29, https://github.com/microg/RemoteDroidGuard/pull/30. The last one in particular is wrongly closed, IIRC @0x5ECF4ULT was still trying to work on it.

[2021-11-07 12:37] ArchangeGabriel commented on #31
And yes, RemoteDroidGuard is downloading the DroidGuard binary (not sure whether that’s an APK or not, it’s been years since I last looked into this), and executing it in a partial sandbox.

[2021-11-07 14:00] 0x5ECF4ULT commented on #31
@ArchangeGabriel Google changed some things again and SN is more broken than before. The certificate hashes array seems to get populated by the sandbox DG is executing code in. I'm trying to figure out why this doesn't happen but my reversing skills are not that great.

[2021-11-10 09:54] jeroenev commented on #24
hardware attestation is not enforced, and for many devices it might never be enforced because of hardware constraints, so it might make sense to fix this for the time being, though I doubt anyone is actually still spending time on this as it's been an issue for over 2 years now

[2022-01-26 11:21] ale5000-git commented on #20
No longer needed.

[2022-01-26 11:21] #20 closed

[2022-01-26 11:22] ale5000-git commented on #24
Fixed with latest microG GmsCore.

[2022-01-26 11:22] #24 closed

[2022-01-26 11:30] ale5000-git commented on #31
Fixed with latest microG GmsCore.

[2022-01-26 11:30] #31 closed

[2022-01-26 11:31] kondors1995 commented on #24
whait wat?

[2022-01-26 11:32] 0x5ECF4ULT commented on #24
Same. What?

[2022-01-26 11:32] ale5000-git commented on #24
microG GmsCore 0.2.23.214816

[2022-01-26 11:32] Atemu commented on #24
https://github.com/microg/GmsCore/releases/tag/v0.2.23.214816

[2022-01-26 11:39] jeroenev commented on #24
Does it pass both basic integrity and cts checks? If yes it might finally be time for me to switch to microG again

[2022-01-26 11:47] kondors1995 commented on #24
so no need for RemoteDroidGuard apk

[2022-01-26 11:52] 0x5ECF4ULT commented on #24
![this is fucking bonkers](https://user-images.githubusercontent.com/17967646/151158497-5fa95631-3969-411f-b1bf-1e51a37f26a1.png)
This is fucking bonkers.

OP6T
crDroid 7.13
Rooted etc.